[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
youtube-dl-server = ">=0.3"

[dev-packages]
virtualenvwrapper = "*"
pip-tools = "*"
pipenv = "*"
pre-commit = "*"
honcho = "*"

[requires]
python_version = "3.7"
